{
  "name": "my-project",
  "version": "0.0.1",
  "description": "",
  "main": "index.js",
  "directories": {
    "test": "tests"
  },
  "scripts": {
    "cypress": "cypress run --e2e",
    "cypress:open": "cypress open --e2e"
  },
  "repository": {
    "type": "git",
    "url": ""
  },
  "keywords": [
    ""
  ],
  "author": "",
  "license": "",

  "devDependencies": {
    "cypress": "^11.0.0"
  }
}
